@import '../shared/index';
footer {
    width: 100%;
    background: #F6F6F8;
}

.parent_botton_website {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #E0E0E0;
}

.contact_info {
    margin: 20px 0 5px
}

.list_contact {
    padding: 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 0.87rem;
    line-height: 1.37rem;
    color: #999999;
}

.fa-envelope-o {
    color: #999999;
}

.license {
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1.3rem;
    text-align: center;
    color: #999999;
    padding-top: 30px;
    margin-bottom: -20px;
}