@import '../shared/index';
.parent_list_research {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 90px;
    margin-bottom: 40px;
}

.child_list_research {
    max-width: 350px;
}

.title_research {
    font-style: normal;
    font-weight: 600;
    font-size: 1.12rem;
    line-height: 1.4rem;
}

.numeral {
    color: #4985FF;
    ;
}

.text_under_h3 {
    margin: 30px 0;
}