/* Мы создаем легкие решения */

.main_content {
    max-width: 830px;
    margin-top: 300px;
    margin-left: 12.6%;
}

.title_H1_smell {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 20px;
}

.title_H1_big {
    max-width: 829px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 4rem;
}

button {
    width: 200px;
    height: 45px;
    background: #4985FF;
    border-radius: 30px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
}

.button {
    margin-top: 50px;
    margin-left: 38%;
}