//write here your scss styles
//@import "./sections/header";
//body {
//background-color: grey;
//}
@import './shared/index';
@import 'reset.scss';
html {
    font-family: 'Montserrat', sans-serif;
    font-size: $default-rem;
}

div {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 50px 0;
}


/* Высокие стандарты разработки*/

.High_standart {
    width: 100%;
    background: $gray-background;
}

.parents_block_HS {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
}

.info_block_HS {
    width: 50%;
}

.info_block_inside {
    max-width: 490px;
    max-height: 295px;
}

.title__block_HS {
    margin-top: 20px;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: $title-fontsize;
    line-height: 3.3rem;
    color: #323232;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.56rem;
    color: #999999;
}

.text_HS {
    margin-top: 40px;
    margin-bottom: 30px;
}

.img_block_HS {
    width: 50%;
}

.advertising_photo {
    max-width: 500px;
    max-width: 450px;
    margin-left: 20%;
}

.advertising_photo img {
    width: 100%;
    height: 100%;
}


/* наши проекты 125 */

.our_projects {
    width: 100%;
    background: $gray-background;
    ;
}

.parent_our_projects {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-top: 1px solid #E0E0E0;
}

.img_125 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 3.3rem;
    text-align: right;
}

.div_with_our_projects {
    max-width: 105px;
    max-height: 70px;
    margin: 70px auto;
}