    //write here your scss styles
    //@import "./sections/header";
    //body {
    //background-color: grey;
    //}
    @import './shared/index';
    @import 'reset';
    // @import './sections/index'; - либо используем разделение файликов по секциям, либо нет (пишем все в одном файле)
    html {
        font-family: 'Montserrat', sans-serif;
        font-size: $default-rem;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    div {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }
    
    .container {
        max-width: 1110px;
        margin: 0 auto;
        padding: 50px 0;

        &--no-padding {
            padding: 0;
        }
    }
    
    .primary-button {
        width: 200px;
        height: 45px;
        display: block;
        background: #4985FF;
        border-radius: 30px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        margin: 0 auto;
    }
    
    main {
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/Rectangle.jpg);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        color: #FFFFFF;
        ;
    }
    /*   HEADER  */
    
    header {
        position: absolute;
        width: 100%;
        height: 100px;
        border-bottom: 1px solid #E0E0E0;
    }

    
    .master_list {
        height: 100px;
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }
    
    .list_graph {
        padding: 40px 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
    }
    
    .nav_list {
        text-decoration: none;
        color: #FFFFFF;
    }
    
    .list_graph:first-of-type {
        border-bottom: 2px solid #FFFFFF;
    }
    /* Мы создаем легкие решения */
    
    .main_content {
        max-width: 830px;
        margin: 300px auto 0;
    }
    
    .title_H1_smell {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        margin-bottom: 20px;
    }
    
    .title_H1_big {
        max-width: 829px;
        text-align: center;
        font-style: normal;
        font-weight: 800;
        font-size: 3rem;
        line-height: 4rem;
    }
    
    .button {
        margin-top: 50px;
    }
    /* Мы создаем мобильные приложения для крупных корпораций */
    
    .section_about_mobile_app {
        width: 100%;
        background: #ffffff;
    }
    
    .title_about_app {
        max-width: 740px;
        margin-top: 60px;
        margin-bottom: 50px;
        text-align: center;
        margin: 60px auto 50px;
    }
    
    .text_about_app {
        max-width: 730px;
        margin: 70px auto;
        text-align: center;
    }
    
    .div_for_contents {
        display: flex;
        justify-content: center;
        height: 100%;
    }
    
    .parent_content {
        display: flex;
        justify-content: center;
        flex: 1 1 33%;
    }
    
    .img_project_big {
        width: 110px;
        height: 110px;
        border: 1px solid #E0E0E0;
        border-radius: 50%;
        padding: 9px;
        margin-right: 20px;
        margin-top: 50px;
    }
    
    .img_project {
        width: 90px;
        height: 90px;
        border: 1px solid #4985FF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img_project_cvg {
        width: 40px;
        height: 40px;
    }
    
    .text_title_h3 {
        margin-top: 100px;
    }
    
    h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 1.12rem;
        line-height: 1.4rem;
    }
    
    .text_Lorem {
        font-size: 0.87rem;
    }
    /* Высокие стандарты разработки*/
    
    .High_standart {
        width: 100%;
        background: $gray-background;
    }
    
    .parents_block_HS {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    
    .info_block_inside {
        max-width: 490px;
        max-height: 295px;
    }
    
    h2 {
        font-style: normal;
        font-weight: bold;
        font-size: $title-fontsize;
        line-height: 3.3rem;
        margin-top: 100px;
    }
    
    p {
        font-style: normal;
        font-weight: normal;
        font-size: $paragraph-fontsize;
        line-height: 1.56rem;
        color: #999999;
    }
    
    .text_HS {
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    .img_block_HS {
        margin-top: 50px;
        max-width: 500px;
        max-height: 400px;
    }
    
    .advertising_photo img {
        width: 100%;
        height: 100%;
    }
    /* наши проекты 125 */
    
    .our_projects {
        width: 100%;
        background: $gray-background;
        ;
    }
    
    .parent_our_projects {
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        border-top: 1px solid #E0E0E0;
        padding: 70px 0 20px;
    }
    
    .div_for_img125 {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        align-items: center;
    }
    
    .img_125 {
        font-style: normal;
        font-weight: normal;
        font-size: $title-fontsize;
        line-height: 3.3rem;
    }
    
    .div_with_our_projects {
        flex: 1 0 105px;
        max-width: 105px;
        margin: 1rem;
    }
    /* Наши работы, на которых мы специализируемся*/
    
    .body-our_job {
        width: 100%;
        background: linear-gradient(90deg,#504dc2 20.44%,#5f12d0 80.91%), #fff;
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: 100% 50%;
    }
    
    .title_button {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .title-white {
        color: #FFFFFF;
        max-width: 540px;
        h2 {
            margin-top: 0;
        }
    }
    
    .div_button {
        margin-right: 10px;
    }
    
    .job_photo_parent {
        width: 100%;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 85px;
        margin-bottom: 50px;
    }
    
    .job_photo {
        max-width: 350px;
        max-height: 300px;
    }
    
    .img-job_photo {
        width: 100%;
        height: 100%;
    }
    
    .child_list_research {
        flex: 1 1 200px;
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
    
    .title_research {
        font-style: normal;
        font-weight: 600;
        font-size: 1.12rem;
        line-height: 1.4rem;
        margin-top: 30px;
    }
    
    .color_span {
        color: #4985FF;
    }
    
    .text_under_h3 {
        margin: 30px 0;
    }
    
    //пустой див//
    .empty_div {
        width: 100%;
        min-height: 390px;
    }
    /*Наши проекты*/
    
    .body_our_project {
        width: 100%;
        background: #F6F6F8;
    }
    
    .discription_our_project {
        max-width: 100%;
    }
    
    .our_project-title {
        text-align: center;
    }
    
    .our_project-text {
        max-width: 730px;
        margin: 50px auto 70px;
    }
    
    .parent_for_photo_our_project {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .child_photo_our_project {
        max-width: 255px;
        max-height: 255px;
    }
    
    .photo_our_project {
        width: 100%;
        height: 100%;
    }
    
    .button-all_service {
        margin-top: 50px;
    }
    /*Видео о нашей работе */
    
    .body_video_about_our_job {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(../img/fonovoe_foto.png);
        width: 100%;
        max-height: 570px;
    }
    
    .info_before_video {
        max-width: 450px;
        margin: -100px auto 0;
    }
    
    .title_before_video {
        color: #FFFFFF;
    }
    
    .discription_before_video {
        color: #FFFFFF;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 70px;
    }
    
    .video_about_our_job {
        max-width: 970px;
        height: 430px;
        margin: 0 auto;
        background: url(../img/imitation_video.png);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    
    .big_button {
        width: 300px;
        height: 100px;
        border: 1px solid #FFFFFF;
        background: transparent;
        border-radius: 200px;
        display: flex;
        align-items: center;
    }
    
    .text_button {
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.6rem;
        color: #FFFFFF;
        margin-left: 25px;
    }
    
    .circle_div {
        width: 60px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 50%;
        margin-left: 40px;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .fa-play {
        color: #4985FF;
        margin-left: 7px;
    }
    /*Подпишитесь на рассылку*/
    
    .body_mailing {
        width: 100%;
    }
    
    .parent_mailing {
        border-top: 1px solid #E0E0E0;
        margin-top: 120px;
        display: flex;
        justify-content: center;
    }
    
    .mailing {
        margin-top: 90px;
        max-width: 730px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .subscribe_text {
        width: 100%;
        text-align: center;
    }
    
    .useful_articles {
        text-align: center;
        margin: 20px 0 30px;
    }
    
    .div_for_imput {
        max-width: 500px;
        display: flex;
        justify-content: center;
    }
    
    .input {
        width: 300px;
        height: 45px;
        border: 1px solid #F2F2F2;
        padding: 15px 0 13px 33px;
        border-radius: 30px 0 0 30px;
    }
    
    input {
        border: none;
    }
    
    .window_right {
        width: 195px;
        height: 45px;
        border: 1px solid #F2F2F2;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        background: #4985FF;
        color: #FFFFFF;
        padding: 13px 36px 15px 26px;
        border-radius: 0 30px 30px 0;
        margin: 0;
    }
    
    .text_garanty {
        font-style: normal;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 1.3rem;
        text-align: center;
        color: #999999;
        margin-top: 35px;
    }
    /*FOOTER*/
    
    footer {
        width: 100%;
        background: #F6F6F8;
    }
    
    .parent_botton_website {
        display: flex;
        justify-content: space-between;
        padding-bottom: 70px;
        border-bottom: 1px solid #E0E0E0;
    }
    
    .contact_info {
        margin: 20px 0 5px
    }
    
    .list_contact {
        padding: 15px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 0.87rem;
        line-height: 1.37rem;
        color: #999999;
    }
    
    .fa-envelope-o {
        color: #999999;
    }
    
    .license {
        font-style: normal;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 1.3rem;
        text-align: center;
        color: #999999;
        padding-top: 30px;
        margin-bottom: -20px;
    }
    
    @media screen and (max-width: 769px) {
        .div_for_contents {
            flex-wrap: wrap; // сделали, чтобы элементы переносились, если им не хватает места
            justify-content: space-around;
        }
        .parent_content {
            flex: 0 1 50%; // изменили flex-basis, чтобы было по 2 элемента в строку
        }
        .parents_block_HS {
            display: flex;
            flex-flow: column-reverse;
        }

        .parent_our_projects {
            flex-wrap: wrap;
        }

        .body-our_job {
            background-size: 100% 20%, 100% 80%;
        }

        .child_list_research {
            flex: 1 1 100%;
            padding: 10px;
        }

        .job_photo {
            margin: 0 auto;
        }
    }
    
    @media screen and (max-width: 420px) {
        .parent_content {
            flex: 1 1 100%; // изменили flex-basis, чтобы был только 1 элемент на строчке (flex-wrap выше все еще остается, потому 
            // экран шириной 420px подпадает под условие media query max-width: 769px , так как он меньше 769px)
        }
    }
